# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
.env
.DS_Store
.pytest_cache/

# TVMS Analysis & Scratch
scratch/
[0-9]*.png
data/
output/

# IDE & OS
.vscode/
.idea/
.DS_Store

# Misc
.omg/
